[imagesettings]
width = 1000
height = 1000
numberofcolors = 10

[rectangulars]
number = 20
width = 100
height = 100

[vertlines]
number = 10
length = 100

[horlines]
number = 10
length = 100

[circles]
number = 5
width = 100
height = 100

[horizontalradiator]
number = 2
steps = 5
distance = 30
length = 100
width = 10

[verticalradiator]
number = 2
steps = 5
distance = 30
length = 100
width = 10

[verticalrowofholes]
number = 2
steps = 5
diameter = 10
distance = 30

[horizontalrowofholes]
number = 2
steps = 5
diameter = 10
distance = 30